.menu {
  display: flex;
  align-items: center;
  height: 58px;
  padding: 10px 0 0 93px;
  gap: 30px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background-color: #ffffff;
  z-index: 100000000;
  margin-left: 30px;

}

.img {
  display: flex;
  width: 53px;
  height: 53px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 445.46px;
  height: 27px;
  margin-right: 100px;
}

.input {
  display: flex;
  width: 348.45px;
  height: auto;
  margin-right: 40px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16.1721px 24.2582px;
  width: 199.52px;
  height: 57.34px;
  background: #141416;
  border-radius: 16.1721px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8286px;
  line-height: 27px;
  text-transform: uppercase;
}

.texte {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8286px;
  line-height: 27px;
  text-transform: uppercase;
  color: #606060;
}

.blockimput {
  display: flex;
  width: 348.45px;
  height: 57px;
  left: 766px;
  top: 46px;
}
